{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<div class="card bg-secondary-subtle text-body-color mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <img width="450" height="400" src="{% refactor object.preview %}" class="d-block w-30">
            </div>
            <div class="col-6">
                <div class="row">
                    Заголовок:
                    <h5 class="card-title mt-3 form-control col-6">{{object.name}}</h5>
                    Опубликовано:
                    <h5 class="card-title mt-3 form-control">{{object.created_at}}</h5>
                    Просмотров:
                    <h5 class="card-title mt-3 form-control">{{object.views_count}}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                Контент:
                <h5 class="card-title mt-3 form-control">{{object.content}}</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <a href="{% url 'blog:update_blog' object.slug %}" type="button" class="btn btn-dark form-control">Редактировать</a>
    </div>
    <div class="col-6">
        <a href="{% url 'blog:delete_blog' object.slug %}" type="button" class="btn btn-dark form-control">Удалить</a>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3">
        <a href="{% url 'blog:list_blog' %}" type="button" class="btn btn-warning form-control">Назад</a>
    </div>
</div>

{% endblock %}