<!-- As a heading -->
<nav class="navbar bg-dark-subtle form-control">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo"
                 width="30" height="24"
                 class="d-inline-block align-text-top">
            - магазинe
        </a>
    </div>
</nav>
<!-- As a link -->
<nav class="navbar bg-secondary-subtle form-control">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:index' %}">На главную</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:list_blog' %}">Блог</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:index' %}">Корзина</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'companies:list' %}">Компании</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:list_feedback' %}">Отзывы</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:contacts' %}">Контакты</a>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:category_list' %}">Список категорий</a>
    </div>

    <div class="container-fluid">
        {% if user.is_authenticated %}

        <div class="col-6">
            <hr>
            <a class="navbar-brand" href="{% url 'users:logout' %}">Выйти</a>
            <hr>
        </div>

        <div class="col-6">
            <hr>
            <a class="navbar-brand" href="{% url 'users:user_detail' pk=user.pk %}">Профиль</a>
            <hr>
        </div>

        {% else %}

        <div class="col-6">
            <hr>
            <a class="navbar-brand" href="{% url 'users:login' %}">Войти</a>
            <hr>
        </div>
        <div class="col-6">
            <hr>
            <a class="navbar-brand" href="{% url 'users:user_register' %}">Регистрация</a>
            <hr>
        </div>

        {% endif %}

    </div>
</nav>