{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<form class="row bg-secondary-subtle text-body-color" method="post" enctype="multipart/form-data">

    <div class="card bg-secondary-subtle form-control">
        <div class="card-header bg-secondary-subtle">
            <h3 class="card-title">
                Профиль
            </h3>
        </div>

        <div class="card-body mb-3 mt-3 row">
            <div class="col-6">
                <img width="300" height="300" src="{% refactor object.avatar %}">
            </div>
            <div class="col-6">
                <table>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>{{object.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Имя:</th>
                        <td colspan="2">{{object.first_name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Фамилия:</th>
                        <td>{{object.last_name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>{{object.email}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Телефон:</th>
                        <td>{{object.phone}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Страна:</th>
                        <td>{{object.country}}</td>
                    </tr>
                </table>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'users:user_update' object.pk %}" type="button"
                           class="btn btn-dark form-control">Редактировать</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'users:user_delete' object.pk %}" type="button"
                           class="btn btn-dark form-control">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}