{% extends 'main/base.html' %}
{% block content %}
<form class="bg-secondary-subtle text-body-color mb-3 form-control" method="post">
    {% csrf_token %}
    <div class="row">
        <center><h5>Опишите товар</h5></center>
    </div>
    <div class="mb-3">
        <input name="name" type="text" class="form-control" placeholder="Наименование" id="exampleInputText1">
    </div>


    <div class="mb-3">
                        <textarea name="description" class="form-control" id="exampleFormControlTextarea1"
                                  placeholder="Описание" rows="3"></textarea>
    </div>

    <div class="input-group mb-3">
        <select name='category' class="form-select" id="inputGroupSelect04"
                aria-label="Example select with button addon">
            <option selected>Выберите категорию</option>
            {%for category in categories%}
            <option value={{category.pk}}>{{category.name}}</option>
            {%endfor%}
        </select>
    </div>


<!--    <div class="input-group mb-3">-->
<!--        <div class="mb-3">-->
<!--  <label for="formFile" class="form-label">Default file input example</label>-->
<!--  <input class="form-control" type="file" id="formFile">-->
<!--</div>-->
<!--    </div>-->

    <div class="mb-3">
        <input name="price" type="text" class="form-control" placeholder="Цена" id="exampleInputText2"
               aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-warning form-control">Отправить</button>
</form>
{% endblock %}