{% extends 'main/base.html' %}
{% block content %}
<form class="bg-secondary-subtle text-body-color mb-3 form-control" method="post">
    {% csrf_token %}
    <div class="row">
        <center><h5>Напишите нам</h5></center>
    </div>
    <div class="mb-3">
        <input name="name" type="text" class="form-control" placeholder="Имя" id="exampleInputText1"
               aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <input name="email" type="email" placeholder="E-mail" class="form-control"
               id="exampleInputEmail1">
    </div>
    <div class="mb-3">
                        <textarea name="message" class="form-control" id="exampleFormControlTextarea1"
                                  placeholder="Сообщение" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-warning form-control">Отправить</button>
</form>
{% endblock %}