{% extends 'main/base.html' %}
{% load refactor_url %}
{% block content %}
<div class="text-center bg-secondary-subtle form-control">
    <h3>ТОП Новинок!</h3>
    <!--                <div id="carouselExample" class="carousel slide">-->
    <!--                    <div class="carousel-inner">-->
    <!--                        {%for serv in products%}-->
    <!--                        <div class="carousel-item active"><center>-->
    <!--                            <h5>Категория: {{serv.category.name}}</h5>-->
    <!--                            <img width = "400" height = "300" src='media/{{serv.preview}}' class="d-block w-30">-->
    <!--                            <h3>{{serv.name}}</h3>-->
    <!--                            <h5>{{serv.description}}</h5>-->
    <!--                            <h4>{{serv.price}} руб.</h4></center>-->
    <!--                        </div>-->
    <!--                        {%endfor%}-->
    <!--                    </div>-->
    <!--                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"-->
    <!--                            data-bs-slide="prev">-->
    <!--                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
    <!--                        <span class="visually-hidden">Previous</span>-->
    <!--                    </button>-->
    <!--                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"-->
    <!--                            data-bs-slide="next">-->
    <!--                        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <!--                        <span class="visually-hidden">Next</span>-->
    <!--                    </button>-->
    <!--                    <button type="submit" class="btn btn-warning form-control">Добавить в корзину</button>-->
    <!--                </div>-->
    {%for product in products%}
    <div class="card mb-3">
        <div class="card-body">
            <center>
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'catalog:product_page' pk=product.pk %}"><h2>{{product.name}}</h2></a>
                        <a href="{% url 'catalog:product_page' pk=product.pk %}"><img width="400" height="300"
                                                                                      src="{%refactor product.preview%}"
                                                                                      class="d-block w-30"></a>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>Категория: {{product.category.name}}</h6>
                        <h5>{{product.description | slice:"100"}}</h5>
                        <h1 class="mt-5">{{product.price}} руб.</h1>
                    </div>
                    <button type="submit" class="btn btn-warning form-control mt-3">Добавить в корзину
                    </button>
                </div>
            </center>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}
