{% extends 'catalog/base.html' %}
{% load tags %}
{% block content %}
<div class="text-center bg-secondary-subtle form-control">
    {% if request.user.is_authenticated%}
    {% if perms.catalog.add_product %}
    <a href="{% url 'catalog:create_product' %}">
        <button type="button" class="btn btn-light float-end">Добавить</button>
    </a>
    {% endif %}
    {% endif %}
    <h3>ТОП Новинок!</h3>
    {%for object in object_list%}
    <div class="card mb-3">
        <div class="card-body">
            <center>
                <div class="row">
                    <div class="col-6" style="max-width: 500px; height: 400px;">
                        <a href="{% url 'catalog:product_page' object.slug %}"><h2>{{object.name}}</h2></a>
                        <a href="{% url 'catalog:product_page' object.slug %}">
                            <img width="400" height="300" src="{%refactor object.preview%}" class="img-fluid"
                                 style="width: auto; max-height: 350px;">
                        </a>
                    </div>
                    <div class="col-6 mt-3">
                        <h6>Категория: {{object.category.name}}</h6>
                        <h5>{{object.description | slice:"100"}}... <a
                                href="{% url 'catalog:product_page' object.slug %}">ещё</a></h5>
                        <div class="text-center bg-secondary-subtle form-control">
                            {% if object in product_versions %}
                            <p class="mt-1 mb-1">
                                Версия: {% get_value product_versions object %}
                            </p>
                            {% else %}
                            Нет доступных версий
                            {% endif %}
                        </div>
                        <h1 class="mt-5">{{object.price}} руб.</h1>
                        {% if request.user.is_authenticated %}
                        <div class="row">
                            {% if perms.catalog.change_product %}
                            <div class="col-6">
                                <a href="{% url 'catalog:update_product' object.slug %}" type="button"
                                   class="btn btn-dark form-control">Редактировать</a>
                            </div>
                            {% endif %}
                            {% if user.is_superuser %}
                            <div class="col-6">
                                <a href="{% url 'catalog:delete_product' object.slug %}" type="button"
                                   class="btn btn-dark form-control">Удалить</a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-warning form-control mt-3">Добавить в корзину
                    </button>
                    {% if request.user.is_authenticated%} <!-- Аутентификация -->
                    {% if perms.catalog.set_published %} <!-- Права -->
                    {% if object.is_active %} <!-- Проверка Boolean -->
                    <a href="{% url 'catalog:toggle_activity_prod' object.pk%}" type="button"
                       class="btn form-control btn-warn">Деактивировать товар</a>
                    {% else %}
                    <a href="{% url 'catalog:toggle_activity_prod' object.pk%}" type="button"
                       class="btn form-control btn-danger">Активировать товар</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </center>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}
